body {
  background-color: #013a63;
  color: #d9dcd6;
}
.navbar-brand {
  color: #d9dcd6;
}
.card {
  background-color: #013a63;
}
#planetResults {
  display: none;
}
.col-2 {
  display: flex;
}
.container, .row, .display-4 {
  margin-bottom: 3%;
}